.container {
  display: flex;
  width: 100%;
}

.chartsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  width: 70%;
  height: 100%;
  overflow: auto;
}

.infoArea {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #fff;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.infoAreaHeader {
  padding: 2rem 2rem 1rem;
}

.infoAreaTitle {
  color: #4a4a4a;
  font-size: 0.75rem;
  font-weight: bold;
}